* {
  scrollbar-width: thin;
  scrollbar-color: #7c3aed #152338;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #152338;
}

*::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 999px;
}